<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<!-- Modal -->
<div class="modal fade" id="alert-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
	aria-hidden="true" th:fragment="message-alert-modal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header border-none">
				<h1 class="modal-title fs-5 fw-bold" id="exampleModalLabel"></h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="cross-close-button"></button>
			</div>
			<div class="modal-body text-center">
							<h3>
								</h3>
							<i class="far fa-check-circle faa-tada animated"></i>
							<div id="final-submit-div">
							
							</div>
						</div>
			<div class="modal-footer border-none">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal"  style="margin:auto;" id="okay-close-button">Okay</button>
			</div>
		</div>
	</div>
	</div>
</body>
</html>