<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
	<div>
		<div>
			<h1 align="center">Basic Details</h1>
		</div>
		<div class="div1">

			<table>
				<tbody th:each="individualModel: ${individualModel}">
					<tr>
						<td>AME ID</td>
						<td th:text="${individualModel.ameId}">
						
						</td>

						<td>FORCEPERSONAL ID</td>
						<td th:text="${individualModel.forcePersonalId}">
						
						</td>
					</tr>
					<tr>
						<td>NAME</td>
						<td th:text="${individualModel.name}"></td>
						<td>Rank/DESIGNATION</td>
						<td th:text="${individualModel.designation}"></td>
					</tr>
					<tr>
						
						<td>Declaration Date</td>
						<td th:text="${individualModel.declarationDate}"></td>

					</tr>
				</tbody>
			</table>
		</div>

		<div>


		
				<div th:each="individualDetails1: ${individualDetails}" class="div2">
					<hr>
					<h3 align="center">EDIT DECLARATION FORM</h3>
					<hr>
					<input type="hidden" th:value="${individualDetails1.ameId}" name="ameId">
						<input type="hidden" th:value="${individualDetails1.forcePersonalId}" name="forcePersonalId">
					<table>

						<tr>
							<td>1.</td>
							<td>Major Ailment Hospitalized</td>
							<td><label>YES</label> <input th:type="radio"
								value="Y"
								th:checked="${individualDetails1.majorailmenthospitalized=='Y'}"
								name="majorailmenthospitalized" /> 
								<label>NO</label> 
								<input
								th:type="radio"
								 value="N"
								th:checked="${individualDetails1.majorailmenthospitalized=='N'}"
								name="majorailmenthospitalized" /></td>
						</tr>
						<tr>
							<td>1.</td>
							<td>IChaemic Heart</td>
							<td><label>YES</label> <input th:type="radio"
								value="Y"
								th:checked="${individualDetails1.ichaemicheart=='Y'}"
								name="ichaemicheart" /> <label>NO</label> <input
								th:type="radio"  value="N"
								th:checked="${individualDetails1.ichaemicheart=='N'}"
								name="ichaemicheart" /></td>
						</tr>
						<tr>
							<td>2.</td>
							<td>Hyper Tension</td>
							<td><label>YES</label> <input th:type="radio"
							value="Y"
								th:checked="${individualDetails1.hypertension=='Y'}"
								name="hypertension" /> <label>NO</label> <input th:type="radio"
								 value="N"
								th:checked="${individualDetails1.hypertension=='N'}"
								name="hypertension" /></td>
						</tr>
						<tr>
							<td>3.</td>
							<td>DiabetesMellitus</td>
							<td><label>YES</label> <input th:type="radio"
								value="Y"
								th:checked="${individualDetails1.diabetesmellitus=='Y'}"
								name="diabetesmellitus" /> <label>NO</label> <input
								th:type="radio"
								 value="N"
								th:checked="${individualDetails1.diabetesmellitus=='N'}"
								name="diabetesmellitus" /></td>
						</tr>
						<tr>
							<td>4.</td>
							<td>Epilepsy</td>
							<td><label>YES</label> <input th:type="radio"
								value="Y"
								th:checked="${individualDetails1.epilepsy=='Y'}" name="epilepsy" />
								<label>NO</label> <input th:type="radio"
								 value="N"
								th:checked="${individualDetails1.epilepsy=='N'}" name="epilepsy" />
							</td>
						</tr>
						<tr>
							<td>5.</td>
							<td>Persistent Headache</td>
							<td><label>YES</label> <input th:type="radio"
								value="Y"
								th:checked="${individualDetails1.persistent_headache=='Y'}"
								name="persistent_headache" /> <label>NO</label> <input
								th:type="radio"
								 value="N"
								th:checked="${individualDetails1.persistent_headache=='N'}"
								name="persistent_headache" /></td>
						</tr>
						<tr>
							<td>6.</td>
							<td>Mental Instability</td>
							<td><label>YES</label> <input th:type="radio"
								value="Y"
								th:checked="${individualDetails1.menatlinstability=='Y'}"
								name="menatlinstability" /> <label>NO</label> <input
								th:type="radio"
								 value="N"
								th:checked="${individualDetails1.menatlinstability=='N'}"
								name="menatlinstability" /></td>
						</tr>
						<tr>
							<td>7.</td>
							<td>Giddiness</td>
							<td><label>YES</label> <input th:type="radio"
								value="Y"
								th:checked="${individualDetails1.giddiness=='Y'}"
								name="giddiness" /> <label>NO</label> <input th:type="radio"
								 value="N"
								th:checked="${individualDetails1.giddiness=='N'}"
								name="giddiness" /></td>
						</tr>
						<tr>
							<td>8.</td>
							<td>Chest Pain & palpitation </td>
							<td><label>YES</label> <input th:type="radio"
								value="Y"
								th:checked="${individualDetails1.chestpainpalpitation=='Y'}"
								name="chestpainpalpitation" /> <label>NO</label> <input
								th:type="radio"
								 value="N"
								th:checked="${individualDetails1.chestpainpalpitation=='N'}"
								name="chestpainpalpitation" /></td>
						</tr>
						<tr>
							<td>9.</td>
							<td>TuberCulosis(TB)</td>
							<td><label>YES</label> <input th:type="radio"
								th:value="${individualDetails1.tb}"
								th:checked="${individualDetails1.tb=='Y'}" name="tb" /> <label>NO</label>
								<input th:type="radio"  value="N"
								th:checked="${individualDetails1.tb=='N'}" name="tb" /></td>
						</tr>
						<tr>
							<td>10.</td>
							<td>Sleep</td>
							<td><label>YES</label> <input th:type="radio"
								th:value="${individualDetails1.sleep}"
								th:checked="${individualDetails1.sleep=='Y'}" name="sleep" /> <label>NO</label>
								<input th:type="radio"  value="N"
								th:checked="${individualDetails1.sleep=='N'}" name="sleep" /></td>
						</tr>
						<tr>
							<td>11.</td>
							<td>Smoking Habit</td>
							<td><label>YES</label> <input th:type="radio"
								value="Y"
								th:checked="${individualDetails1.smokinghabit=='Y'}"
								name="smokinghabit" /> <label>NO</label> <input th:type="radio"
								 value="N"
								th:checked="${individualDetails1.smokinghabit=='N'}"
								name="smokinghabit" /></td>
						</tr>
						<tr>
							<td>12.</td>
							<td>Number of Cigarettes</td>
							<td><input type="text" name="numberofcigarettes" 
								th:value="${individualDetails1.numberofcigarettes}"></td>
						</tr>
						<tr>
							<td>13.</td>
							<td>Sleep</td>
							<td><label>YES</label> <input th:type="radio"
								value="Y"
								th:checked="${individualDetails1.alcoholintake=='Y'}"
								name="alcoholintake" /> <label>NO</label> <input
								th:type="radio"  value="N"
								th:checked="${individualDetails1.alcoholintake=='N'}"
								name="alcoholintake" /></td>
						</tr>
						<tr>
							<td>14</td>
							<td>Number of Cigarettes</td>
							<td><input type="text" name="quantityperday" 
								th:value="${individualDetails1.quantityperday}"></td>

						</tr>
						<tr>
							<td>15.</td>
							<td>Accident Injury Surgery</td>
							<td>
							<label>YES</label> 
							<input th:type="radio"
								value="Y"
								th:checked="${individualDetails1.accidentinjurysurgery=='Y'}"
								name="accidentinjurysurgery" /> 
								<label>NO</label> <input
								th:type="radio"
								 value="N"
								th:checked="${individualDetails1.accidentinjurysurgery=='N'}"
								name="accidentinjurysurgery" /></td>
						</tr>
						<tr>
							<td>16.</td>
							<td>Defective Color Perception</td>
							<td><label>YES</label> <input th:type="radio"
								value="Y"
								th:checked="${individualDetails1.defectivecolorperception=='Y'}"
								name="defectivecolorperception" /> <label>NO</label> <input th:type="radio"
								 value="N"
								th:checked="${individualDetails1.defectivecolorperception=='N'}"
								name="defectivecolorperception" /></td>
						</tr>
						<tr>
							<td>17.</td>
							<td>Color Perception Category</td>
							<td><label>YES</label> 
							<input th:type="radio" th:checked="${individualDetails1.colorperceptioncat=='Y'}"
								name="colorperceptioncat"   value="Y"/> <label>NO</label> 
				               <input th:type="radio" th:checked="${individualDetails1.colorperceptioncat=='N'}" 
				                name="colorperceptioncat"   value="N"/></td>
						</tr>
						
						<tr>
						<td colspan="2" align="right">
						<button type="button" class="btn btn-primary" id="btn_save_update">Save & Update</button>
				        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Final Submit </button>
						</td>
						</tr>




					</table>

				</div>
                   <!-- Send from for final Update -->
					<form action="#" th:action="@{/update-user-declaration}"
				         th:object="${individualDetails}" method="post">
			       </form>
			       <!-- send from for update -->
			       <form action="#" th:action="@{/update-user-declaration}"
				         th:object="${individualDetails}" method="post">
			       </form>

		</div>

	</div>

</body>

<script type="text/javascript">
	$(document).ready(function() {

		$('#btn_save_update').click(function() {
			//-----1
			var colorperceptioncat = $("input[name='colorperceptioncat']:checked").val();
			//-----2
			var accidentinjurysurgery = $("input[name='accidentinjurysurgery']:checked").val();
			//-----3
	        var defectivecolorperception=$("input[name='colorperceptioncat']:checked").val();
	        //-----4
            var majorailmenthospitalized=$("input[name='majorailmenthospitalized']:checked").val();
            //-----5
            var hypertension=$("input[name='hypertension']:checked").val();
            //-----6
            var sleep=$("input[name='sleep']:checked").val();
            //-----7
            var tb=$("input[name='tb']:checked").val();
            //----8
            var smokinghabit=$("input[name='smokinghabit']:checked").val();
            //9
            var giddiness=$("input[name='giddiness']:checked").val();
            //10
            var chestpainpalpitation=$("input[name='chestpainpalpitation']:checked").val();
            //11
            var ichaemicheart=$("input[name='ichaemicheart']:checked").val();
            //12
            var menatlinstability=$("input[name='menatlinstability']:checked").val();
            //13
            var persistent_headache=$("input[name='persistent_headache']:checked").val();
            //14
            var epilepsy=$("input[name='epilepsy']:checked").val();
            //15
			
            var numberofcigarettesId=$("input[name='numberofcigarettes']").val();
            
            var qualityIntake=$("input[name='quantityperday']").val();
            
            $("#form-update-submit").submit();

			
		});

		$('#btn_save_final').click(function() {
			//-----1
			var colorperceptioncat = $("input[name='colorperceptioncat']:checked").val();
			//-----2
			var accidentinjurysurgery = $("input[name='accidentinjurysurgery']:checked").val();
			//-----3
	        var defectivecolorperception=$("input[name='colorperceptioncat']:checked").val();
	        //-----4
            var majorailmenthospitalized=$("input[name='majorailmenthospitalized']:checked").val();
            //-----5
            var hypertension=$("input[name='hypertension']:checked").val();
            //-----6
            var sleep=$("input[name='sleep']:checked").val();
            //-----7
            var tb=$("input[name='tb']:checked").val();
            //----8
            var smokinghabit=$("input[name='smokinghabit']:checked").val();
            //9
            var giddiness=$("input[name='giddiness']:checked").val();
            //10
            var chestpainpalpitation=$("input[name='chestpainpalpitation']:checked").val();
            //11
            var ichaemicheart=$("input[name='ichaemicheart']:checked").val();
            //12
            var menatlinstability=$("input[name='menatlinstability']:checked").val();
            //13
            var persistent_headache=$("input[name='persistent_headache']:checked").val();
            //14
            var epilepsy=$("input[name='epilepsy']:checked").val();
            //15
			
            var numberofcigarettesId=$("input[name='numberofcigarettes']").val();
            
            var qualityIntake=$("input[name='quantityperday']").val();
            
            var forcepersonalId=$("input[name='forcePersonalId']").val()
            
            var ameId=$("input[name='ameId']").val();
            
              
           var formData ={
        		   colorperceptioncat:colorperceptioncat,
        		   accidentinjurysurgery:accidentinjurysurgery,
        		   defectivecolorperception:defectivecolorperception,
        		   majorailmenthospitalized:majorailmenthospitalized,
        		   hypertension:hypertension,
        		   sleep:sleep,
        		   tb:tb,
        		   smokinghabit:smokinghabit,
        		   giddiness:giddiness,
        		   chestpainpalpitation:chestpainpalpitation,
        		   ichaemicheart:ichaemicheart,
        		   ichaemicheart:ichaemicheart,
        		   menatlinstability:menatlinstability,
        		   persistent_headache:persistent_headache,
        		   epilepsy:epilepsy,
        		   numberofcigarettesId:numberofcigarettesId,
        		   qualityIntake:qualityIntake,
        		   ameId:ameId,
        		   forcepersonalId:forcepersonalId
        		   
           }
            
                $("#myModal").hide();

		    	 $.ajax({
		 	    	type:'POST',
		 	    	contentType:"application/json",
		 	        url: 'update-user-declaration',
		 	        data:JSON.stringify(formData),
		 	        dataType:'json',
		 	         
		 	        success: function (result) {
		 	         if(result.status=="sucess"){
		 	        	 $("#form-final-submit").submit();
		 	         }
		 	        	 
		 	       },
		 	       error: function (jqXHR, exception) {
		 	          console.log('Error occured!!');
		 	       }
		 	    });
		    	
		    	
		     
		});

	});
</script>


<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">AME DECLARATION FINAL SUBMIT</h4>
       
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        DO YOU WANT TO DO THE FINAL SUBMIT OF THE EDIT DATA
        WARNING....
       <p class="text-warning">NO FEARTHER EDIT AND SUBMIT WILL BE ALLOWED..</p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" id ="btn_save_final" >Final Submit</button>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">

</script>

</html>