<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>AME DashBoard Controller</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css" />
<!-- Custom styles for this template -->
<link rel="stylesheet" href="css/base.css" />
<link rel="stylesheet" href="css/base-responsive.css" />
<link rel="stylesheet" href="css/animate.min.css" />
<link rel="stylesheet" href="css/slicknav.min.css" />
<link rel="stylesheet" href="css/font-awesome.min.css" />
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">

<script src="vendor/charts/Chart.js"></script>
<script src="vendor/charts/moment.min.js"></script>
<script src="vendor/charts/Chart.min.js"></script>
<script src="vendor/charts/utils.js"></script>


</head>


<body>


	<div class="d-flex" id="wrapper">

		<!-- Sidebar -->
			<div th:replace="~{po-template/left-menu-po::sidebar-wrapper-menu-po}"></div>

		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div id="page-content-wrapper">

						<div th:replace="~{po-template/nav-bar-po::sidebar-wrapper-menu-nav-po}"></div>


<div class="container my-3">

<div class="wisecountnactionbg">



				<form id="regForm" >
					<input type="hidden" th:value="${_csrf.token}" name="_csrf">
					<input type="hidden" name="forcepersonalId"
						th:value="${forcepersonalId}"> <input type="hidden"
						name="ameId" th:value="${ameId}">

<div class="proc-box p-3">
					
						<div class="row">
							<div class="col-md-3 text-start">
								<label class="fw-medium">Name of the force</label>
							</div>
								
							
							<div class="col-md-3 text-start">
								<!-- <span th:if="${candidateDetails.force_no==1}"> Assam
									Rifle </span> <span th:if="${candidateDetails.force_no==2}">
									Border Security Force (BSF) </span> -->
									<span th:text="${candidateDetails.forceName}"></span>
									
									
							</div>
							<div class="col-md-3 text-start">
									<label class="fw-medium">IRLA/REGT No.</label>
							</div>
							<div class="col-md-3 text-start">
								<span th:text="${candidateDetails.forceId}"></span>
							</div>
						</div>

						<div class="row"
							>
							<div class="col-md-3 text-start">
								<label class="fw-medium">Name</label>
							</div>
							<div class="col-md-3 text-start">
								<span th:text="${candidateDetails.name}"></span>
							</div>
							<div class="col-md-3 text-start">
								<label class="fw-medium">Rank/Designation</label>
							</div>
							<div class="col-md-3 text-start">
								<span th:text="${candidateDetails.rank}"></span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3 text-start">
								<label class="fw-medium">Unit/formation</label>
							</div>
							<div class="col-md-3 text-start">
								<span th:text="${candidateDetails.unitName}"></span>
							</div>
							<div class="col-md-3 text-start">
								<label class="fw-medium">Grade</label>
							</div>
							<div class="col-md-3 text-start">
								<span th:if="${candidateGazettedNonGazettedFlag=='Y'}"
									th:text="GazettedOfficer"></span> <span
									th:unless="${candidateGazettedNonGazettedFlag=='Y'}"
									th:text="NonGazettedOfficer"></span>
							</div>
						</div>
								<div class="row">
							<div class="col-md-3 text-start">
								<label class="fw-medium">Gender</label>
							</div>
							<div class="col-md-3 text-start">
								<span th:text="${candidateDetails.gender}"></span>
							</div>
						
						</div>
						<div class="row"
							>
							<div class="col-md-3 text-start">
								<label class="fw-medium">Age</label>
							</div>
							<div class="col-md-3 text-start">
								<span th:text="${age}"></span>
							</div>
							<div class="col-md-3 text-start">
								<label class="fw-medium">DOB</label>
							</div>
							<div class="col-md-3 text-start">
								<span
									th:text="${#dates.format(candidateDetails.dob,'dd-MM-yyyy')}">--</span>
							</div>
						</div>
						<div class="row"
							>
							<div class="col-md-3 text-start">
								<label class="fw-medium">DOJ</label>
							</div>
							<div class="col-md-3 text-start">
								<span
									th:text="${#dates.format(candidateDetails.joiningDate, 'dd-MM-yyyy')}"></span>
							</div>
							<div class="col-md-3 text-start">
								<label class="fw-medium">Total Service</label>
							</div>
							<div class="col-md-3 text-start">
								<span th:text="${doj}"></span>
							</div>
						</div>



					</div>
					
					<div class="proc-box p-3 text-start">


					<table class="table table-striped table-bordered table-hover dataTable no-footer">
						<thead class="table-light">
							<tr>
								<td colspan="4">
										<h5 class="m-0">Physical Measurement</h5></td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="td-heading"><label class="fw-medium">Height (in cm)</label></td>
								<td class="td-data"><span th:text="${physicalMeasurement.height}"></span></td>

							</tr>

							<tr>
								<td class="td-heading"><label class="fw-medium">Weight&nbsp;(Kg)</label></td>
								<td class="td-data"><span th:text="${physicalMeasurement.weight}"></span></td>
							</tr>

							<tr>
								<td class="td-heading"><label class="fw-medium">BMI</label></td>
								<td class="td-data"><span th:text="${physicalMeasurement.bmi}"></span></td>

							</tr>
							
							<tr>

								<td class="td-heading"><label class="fw-medium">Chest (not for female)On full expiration(in cm)</label></td>
								<td class="td-data"><span th:text="${physicalMeasurement.chestUnexpanded}"></span></td>
							</tr>
						
							<tr>
								<td class="td-heading"><label class="fw-medium">On full inspiration(in cm)</label></td>
								<td class="td-data"><span th:text="${physicalMeasurement.chestExpanded}"></span></td>

							</tr>

							<tr>

								<td class="td-heading"><label class="fw-medium">Abdominal girth (cm)</label></td>
								<td class="td-data"><span th:text="${physicalMeasurement.abdominalGirth}"></span></td>
							</tr>
							<tr>
								<td class="td-heading"><label class="fw-medium">Trans-TroChanteric girth (in cm)</label></td>
								<td class="td-data"><span
									th:text="${physicalMeasurement.trasTroChantericGirth}"></span></td>
								
							</tr>
							<tr>
							<td class="td-heading"><label class="fw-medium">Ratio A/T</label></td>
								<td class="td-data" ><span th:text="${physicalMeasurement.ratioAT}"></span></td>
							</tr>

						</tbody>
					</table>
			
				
				
							<hr>

							<div class="d-grid gap-2 d-md-block w-100">
								<button type="button" class="btn btn-secondary"
									onclick="backToHome()" style="width: 100px; float: left;">Back</button>



							</div>
						</div>
				</form>
				<div>

					<form th:action="@{/back-to-index-page-ama}" method="post"
						id="back-to-home">
						<input type="hidden" name="forcepersonalId"
							th:value="${forcepersonalId}"> <input type="hidden"
							name="ameId" th:value="${ameId}">


					</form>



				</div>
				</div>

</div>
</div>
</div>


		<!-- Bootstrap core JavaScript -->
		<script src="vendor/jquery/jquery.min.js"></script>
				<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="js/jquery.slicknav.min.js"></script>
		<script src="js/dashboard.js"></script>



		<script>
			function backToHome() {

				$("#back-to-home").submit();
			}
		</script>


		<!-- Menu Toggle Script -->
		<script>
			$("#menu-toggle").click(function(e) {
				e.preventDefault();
				$("#wrapper").toggleClass("toggled");
			});
		</script>


		<script>
			$(document).ready(function() {
				$('#backtotop').click(function() {
					$("html, body").animate({
						scrollTop : 0
					}, 600);
					return false;
				});
			});
		</script>


		<script>
			$('.sub-menu ul').hide();
			$('.sub-sub-menu ul').hide();
			$(".sub-menu a").click(
					function() {
						$(this).parent(".sub-menu").children("ul").slideToggle(
								"100");
						$(this).find(".right").toggleClass(
								"fa-caret-up fa-caret-down");
					});

			$(".sub-sub-menu a").click(
					function() {
						$(this).parent(".sub-sub-menu").children("ul")
								.slideToggle("100");
						$(this).find(".right").toggleClass(
								"fa-caret-up fa-caret-down");
					});
		</script>



		<!-- Signup Modal -->
				<div class="modal fade" id="signout-modal" data-bs-backdrop="static"
			data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Sign Out?</h5>

							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<!-- Modal body -->
						<div class="modal-body">
							<p class="text-center">Are you sure you want to Sign Out?</p>
							<form action="sign-out">
								<div class="row">
									<div class="col-md-6">
										<button type="submit" class="btn btn-primary">Sign
											Out</button>
									</div>
									<div class="col-md-6">
										<button type="button" class="btn btn-secondary"
											data-bs-dismiss="modal">Cancel</button>
									</div>

								</div>

							</form>

						</div>
					</div>
				</div>
			</div>
			</div>





		<script src="vendor/jquery-ui/jquery-ui.js"></script>
		<script>
			$(function() {
				$("#sortable-menu").sortable();
				$("#sortable-menu").disableSelection();

				$("#sortable-cards").sortable();
				$("#sortable-cards").disableSelection();
			});
		</script>


		<script>
			$(function() {
				$("#one-item-row").on("click", function() {
					$(".b-customize").addClass("col-lg-12", 300);
					$(".b-customize").removeClass("col-lg-4", 300);
					$(".b-customize").removeClass("col-lg-6", 300);

				});

				$("#two-item-row").on("click", function() {
					$(".b-customize").addClass("col-lg-6", 300);
					$(".b-customize").removeClass("col-lg-4", 300);
					$(".b-customize").removeClass("col-lg-12", 300);

				});

				$("#three-item-row").on("click", function() {
					$(".b-customize").addClass("col-lg-4", 300);
					$(".b-customize").removeClass("col-lg-6", 300);
					$(".b-customize").removeClass("col-lg-12", 300);

				});

			});
		</script>
		<script>
			var currentTab = 0; // Current tab is set to be the first tab (0)
			showTab(currentTab); // Display the current tab

			function showTab(n) {
				// This function will display the specified tab of the form...
				var x = document.getElementsByClassName("tab");
				x[n].style.display = "block";
				//... and fix the Previous/Next buttons:

				if (n == 0) {
					document.getElementById("prevBtn").style.display = "none";
				} else {
					document.getElementById("prevBtn").style.display = "inline";
				}
				if (n == (x.length - 1)) {
					document.getElementById("nextBtn").innerHTML = "Submit";
				} else {
					document.getElementById("nextBtn").innerHTML = "Next";
				}
				//... and run a function that will display the correct step indicator:
				fixStepIndicator(n);
				fixTabIndicator(n)
			}

			function nextPrev(n) {
				// This function will figure out which tab to display
				var x = document.getElementsByClassName("tab");
				// Exit the function if any field in the current tab is invalid:
				if (n == 1 && !validateForm())
					return false;
				// Hide the current tab:
				x[currentTab].style.display = "none";
				// Increase or decrease the current tab by 1:
				currentTab = currentTab + n;
				// if you have reached the end of the form...
				if (currentTab >= x.length) {
					// ... the form gets submitted:
					document.getElementById("regForm").submit();
					return false;
				}
				// Otherwise, display the correct tab:
				showTab(currentTab);
			}

			function validateForm() {
				// This function deals with validation of the form fields
				var x, y, i, valid = true;
				x = document.getElementsByClassName("tab");
				y = x[currentTab].getElementsByTagName("input");
				// A loop that checks every input field in the current tab:
				for (i = 0; i < y.length; i++) {
					// If a field is empty...
					if (y[i].value == "") {
						// add an "invalid" class to the field:
						y[i].className += " invalid";
						// and set the current valid status to false
						valid = false;
					}
				}
				// If the valid status is true, mark the step as finished and valid:
				if (valid) {
					document.getElementsByClassName("step")[currentTab].className += " finish";
				}
				return valid; // return the valid status
			}

			function fixStepIndicator(n) {
				// This function removes the "active" class of all steps...
				var i, x = document.getElementsByClassName("step");
				for (i = 0; i < x.length; i++) {
					x[i].className = x[i].className.replace(" active", "");
				}
				//... and adds the "active" class on the current step:
				x[n].className += " active";
			}
			function fixTabIndicator(n) {
				// This function removes the "active" class of all steps...
				var i, x = document.getElementsByClassName("tabstatus");
				for (i = 0; i < x.length; i++) {
					x[i].className = x[i].className.replace(" active", "");
				}
				//... and adds the "active" class on the current step:
				x[n].className += " active";
			}
		</script>
</body>
</html>
