<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">



<nav class="navbar navbar-expand-mg dashboard-bgcolor" th:fragment="sidebar-wrapper-menu-nav-cpf">
	<div th:replace="~{UserMenu/reset-password-and-view-profile::sidebar-wrapper-change-password-profile}"></div>


	<button id="menu-toggle">
		<i class="bi bi-list"></i>
	</button>


	<ul class="nav das-nav">
		<li class="nav-item">IRLA / REGT NO: <span th:text="${loginUserDetails.forceId}" /></li>
		<li class="nav-item">NAME: <span th:text="${loginUserDetails.name}" /></li>
		<li class="nav-item">RANK/DESIGNATION: <span th:text="${loginUserDetails.designation}" /></li>
		<li class="nav-item"><span style="color: rgb(255, 255, 0);font-weight: 600;"
				th:text="${userType}"><!--</span><span style="color: rgb(255, 255, 0);font-weight: 600;" th:text="' ('+${loginForceName}+')'"></span><-->/li>


		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				<img src="images/card-profile.png" alt="" width="32" height="32" class="rounded-circle me-2"> Profile
			</a>


			</a>
			<ul class="dropdown-menu text-small shadow">

				<li>
					<a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal"
						data-bs-target="#profileModal" onclick="fetchAndShowProfile()">User Profile</a>
				</li>
				<li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#change-password-modal">Change
						Password</a></li>
				<li>
					<hr class="dropdown-divider">
				</li>
				<li><a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal"
						data-bs-target="#signout-modal">Sign Out</a></li>




			</ul>
		</li>

	</ul>


</nav>