<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>AME DashBoard Controller</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />

<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css" />
<!-- Custom styles for this template -->
<link rel="stylesheet" href="css/base.css" />
<link rel="stylesheet" href="css/base-responsive.css" />
<link rel="stylesheet" href="css/animate.min.css" />
<link rel="stylesheet" href="css/slicknav.min.css" />
<link rel="stylesheet" href="css/font-awesome.min.css" />
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<script src="vendor/jquery-ui/jquery-ui.js"></script>
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="js/jquery.slicknav.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="js/local/disable-back-button.js"></script>

<!--role modification js-->
<script src="js/local/role-modification.js"></script>

<!--Create new Role Css File-->
<link rel="stylesheet" href="css/local/roleTransfer.css" />
<script src="js/local/resetChangeForget.js"></script>

 <!-- Bootstrap JS (Ensure this is included for collapse functionality) -->
  
</head>
<style>
label{
font-size: 14px;
font-weight: 600;
}
#info-tag{
font-size: 16px;
font-weight: 600;
color: black;
}
</style>


<body>

<div class="d-flex" id="wrapper">
    <div th:replace="~{admin-template/admin-left-menu::admin-left-menu}"></div>
    <!-- Sidebar -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div th:replace="~{admin-template/nav-bar-bda::sidebar-wrapper-menu-nav-bda}"></div>
      <div class="container-fluid mt-3">
        <!-- Content Row -->
        <div class="wisecountnactionbg">
     <span id="info-tag" > Medical Board Details (BoardType / BoardId / Place / Created On)</span> 

     <div class="accordion" id="accordionExample">
            <div th:each="boardData, iterStat : ${boardAndMemberDetailsDtos}" class="card">
              <div class="card-header" th:id="'heading' + ${iterStat.index}">
                <h5 class="mb-0">
                <span th:text="${boardData.medicalBoardDetailDto.useFor}+' / '"></span>
                     <span th:text="${boardData.medicalBoardDetailDto.boardId}+' / '"></span>
                       <span th:text="${boardData.medicalBoardDetailDto.place}+' / '"></span>
                         <span th:text="${#dates.format(boardData.medicalBoardDetailDto.createdOn,'dd-MM-yyyy')}"></span>
                  <button class="btn btn-link"  data-bs-toggle="collapse"
                    th:data-bs-target="'#collapse' + ${iterStat.index}" aria-expanded="true"
                    th:aria-controls="'collapse' + ${iterStat.index}">
                    <span>EXPAND</span>
                    </button>
                    <span th:text="${BoardType}" style="float: right;color: red;">
                    
                    </span>
                </h5>
              </div>

              <div th:id="'collapse' + ${iterStat.index}" class="collapse" aria-labelledby="heading__${iterStat.index}"
                data-bs-parent="#accordionExample">
                <div class="card-body">
                
                  <div class="row">
                    <div class="col-md-3">
                    <label>Medical Examination Type :-</label>
                    </div>
                    <div class="col-md-1">
                      <span th:text="${boardData.medicalBoardDetailDto.useFor}"></span>
                    </div>
                    <div class="col-md-2">
                     <label>Situated At(Place) :-</label>
                    </div>
                    <div class="col-md-2">
                      <span th:text="${boardData.medicalBoardDetailDto.place}"> </span>
                    </div>

                    <div class="col-md-3">
                    
                    <label>Medical Examination Year :-</label></div>
                    <div class="col-md-1">
                      <span th:text="${boardData.medicalBoardDetailDto.boardYear}"> </span>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-2">
                    <label>
                     Force Name :-
                    </label>
                   </div>
                    <div class="col-md-2">
                      <span th:text="${boardData.medicalBoardDetailDto.forceName}"></span>
                    </div>
                    <div class="col-md-2">
                    <label>
                    Constituted On :-
                    </label>
                    </div>
                    <div class="col-md-2">
                      <span th:text="${#dates.format(boardData.medicalBoardDetailDto.createdOn,'dd-MM-yyyy')}"></span>
                    </div>
                    <div class="col-md-3">
                    <label>
                    Status :-
                    </label>
                    </div>
                    <div class="col-md-1">
                      <span th:text="ACTIVE"> </span>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-2">
                      <label>Constituted By :-</label>
                    </div>
                     <div class="col-md-6">
                      <span th:text="${boardData.createdBy}"> </span>
                    </div>
                      <div class="col-md-4">
                      <form th:action="@{${uri}}" method="post">
                      <input type="hidden" th:value="${boardData.medicalBoardDetailDto.boardId}" name="boardId">
                       <input type="submit"  th:value="'Map Individual to Board'" class="btn btn-primary" style="font-family: sans-serif;">
                      </form>
                    
                    </div>
                  </div>
                </div>
                		<div class="table-responsive">
						<h6 class="table-heade">Medical Board Member Details</h6>
						<table class="table table-striped table-bordered table-hover"
							id="customers" style="font-size: 14px;">
							<thead class="table-light">

								<tr>
									<th>Force Name</th>
									<th>Force ID</th>
									<th>Name</th>
									<th>Gender</th>
									<th>Designation</th>


									<th>Assigned role</th>
									<th>Status</th>
									<th>Action</th>

								</tr>
							</thead>
							<tbody>
						
							
					
								<tr  th:each="medicalBoardMember : ${boardData.medicalBoardMemberDtoList}" >
									<td th:text="${medicalBoardMember.forceNo}"></td>
									<td th:text="${medicalBoardMember.IrlaNumber}"></td>

									<td th:text="${medicalBoardMember.Name}"></td>
									<td th:text="${medicalBoardMember.gender}"></td>
									<td th:text="${medicalBoardMember.designation}"></td>

									<!-- <td th:text="${individual.country}"></td>-->
									<td
										th:text="${#strings.toUpperCase(medicalBoardMember.roleName)}"></td>
										<td>
											<span
												th:text="${medicalBoardMember.statusValue}" style="color: darkred;font-weight: 600;"></span>
											
										</td>

								</tr>
							</tbody>
						</table>
					</div>
              </div>
            </div>
          </div>

        </div>	
    </div>
           
          
      </div>
  




	
	
	<!-- /#wrapper -->





	<!--	<script src="js/dashboard.js"></script>-->
	<!-- Menu Toggle Script -->
	<script>
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});
	</script>


	<script>
		$(document).ready(function() {
			$('#backtotop').click(function() {
				$("html, body").animate({
					scrollTop : 0
				}, 600);
				return false;
			});

			// for Committe submitt

		});
	</script>







	<script>
		$('.sub-menu ul').hide();
		$('.sub-sub-menu ul').hide();
		$(".sub-menu a").click(function() {
			$(this).parent(".sub-menu").children("ul").slideToggle("100");
			$(this).find(".right").toggleClass("fa-caret-up fa-caret-down");
		});

		$(".sub-sub-menu a").click(function() {
			$(this).parent(".sub-sub-menu").children("ul").slideToggle("100");
			$(this).find(".right").toggleClass("fa-caret-up fa-caret-down");
		});
	</script>



	<!-- Signup Modal -->
	<div class="modal fade" id="signout-modal" data-bs-backdrop="static"
		data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Sign Out?</h5>

						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<!-- Modal body -->
					<div class="modal-body">
						<p class="text-center">Are you sure you want to Sign Out?</p>
						<form action="sign-out">
							<div class="row">
								<div class="col-md-6">
									<button type="submit" class="btn btn-primary">Sign Out</button>
								</div>
								<div class="col-md-6">
									<button type="button" class="btn btn-secondary"
										data-bs-dismiss="modal">Cancel</button>
								</div>

							</div>

						</form>

					</div>
				</div>
			</div>
		</div>
	</div>




	
	<script>
		$(function() {
			$("#sortable-menu").sortable();
			$("#sortable-menu").disableSelection();

			$("#sortable-cards").sortable();
			$("#sortable-cards").disableSelection();
		});
	</script>


	<script>
		$(function() {
			$("#one-item-row").on("click", function() {
				$(".b-customize").addClass("col-lg-12", 300);
				$(".b-customize").removeClass("col-lg-4", 300);
				$(".b-customize").removeClass("col-lg-6", 300);

			});

			$("#two-item-row").on("click", function() {
				$(".b-customize").addClass("col-lg-6", 300);
				$(".b-customize").removeClass("col-lg-4", 300);
				$(".b-customize").removeClass("col-lg-12", 300);

			});

			$("#three-item-row").on("click", function() {
				$(".b-customize").addClass("col-lg-4", 300);
				$(".b-customize").removeClass("col-lg-6", 300);
				$(".b-customize").removeClass("col-lg-12", 300);

			});

		});
	</script>
	<script>
	    // Check if the span is present
	    var messageSpan = document.getElementById('messageSpan');
	    if (messageSpan) {
	        // Set a timer to hide the span after 5 seconds (5000 milliseconds)
	        setTimeout(function() {
	            messageSpan.style.display = 'none';
	        }, 5000);
	    }
	</script>


</body>

</html>