<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />

<head>
	<title>AME DashBoard Controller</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css" />
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="css/base.css" />
	<link rel="stylesheet" href="css/base-responsive.css" />
	<link rel="stylesheet" href="css/animate.min.css" />
	<link rel="stylesheet" href="css/slicknav.min.css" />
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <script src="js/local/resetChangeForget.js"></script>

	<script src="js/local/disable-back-button.js"></script>


	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="js/jquery.slicknav.min.js"></script>
	<script src="js/dashboard.js"></script>
	<script src="vendor/jquery-ui/jquery-ui.js"></script>





	<!-- Include jQuery -->
	<script src="ame-datatable-js/3.5.1/jquery.min.js"></script>

	<!-- Include DataTables CSS -->
	<link rel="stylesheet" href="ame-datatable-css/1.11.5/jquery.dataTables.min.css">

	<!-- Include DataTables JavaScript -->
	<script src="ame-datatable-js/1.11.5/jquery.dataTables.min.js"></script>
	




</head>


<body>
	<!-- 
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
		<a class="navbar-brand" href="#">Logo</a>
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="#">Link</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Link</a>
			</li>
		</ul>
	</nav>
 -->


	<div class="d-flex" id="wrapper">

		<!-- Sidebar -->
		<div th:replace="~{admin-template/admin-left-menu::admin-left-menu}"></div>
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div id="page-content-wrapper">

			<div th:replace="~{admin-template/nav-bar-bda::sidebar-wrapper-menu-nav-bda}"></div>


			<div class="container">
				<div class="wisecountnactionbg">

					<!-- Content Row -->
					<div class="row d-flex align-items-center">
						<div class="col-md-2">

							Medical Board :-
						</div>
						<div class="col-md-4">

							<select id="boardId" class="form-select">
								<option value="0">Select
								</option>
								<option th:each="downDtosList: ${downDtosList}" th:value="${downDtosList.boardId}"
									th:text="${downDtosList.value}">
								</option>
							</select>


						</div>

					</div>
					<hr>
				

					

					<input type="hidden" id="forceNumber">
					<input type="hidden" id="unitNumber">


					<hr>

					<div class="w-10">
				<h6 style="font-weight: 600;"> Mapped To Board</h6>


						<table 	class="table table-striped table-bordered table-hover" id="mappedTable" style="font-size:14px; padding:0%;" >
						<thead class="table-light">
								<tr>
									<th width="30" >S No</th>
									<th>Force</th>
									<th width="30">IRLA No</th>
									<th>Name</th>
									<th width="30">Gender</th>
									<th>Designation</th>
									<th width="50" >Unit</th>


								</tr>
							</thead>

							<tbody>


							</tbody>
						</table>


					</div>

					<div class="row">
											<div class="col-md-6">
												<form th:action="@{bda-dashboard}" method="get">
													<input type="submit" value="back" class="btn btn-primary btn-sm sendList"
														>
												</form>

											</div>
											</div>
				</div>




			</div>
			<!-- /#page-content-wrapper -->

		</div>
		<!-- /#wrapper -->


		<!-- Menu Toggle Script -->
		<script>
			$("#menu-toggle").click(function (e) {
				e.preventDefault();
				$("#wrapper").toggleClass("toggled");
			});

	

			$(document).ready(function () {
				$('#mappedTable').DataTable();
			});
		</script>


		<script>
			$(document).ready(function () {
				$('#backtotop').click(function () {
					$("html, body").animate({
						scrollTop: 0
					}, 600);
					return false;
				});
			});
		</script>


		<script>
			$('.sub-menu ul').hide();
			$('.sub-sub-menu ul').hide();
			$(".sub-menu a").click(function () {
				$(this).parent(".sub-menu").children("ul").slideToggle("100");
				$(this).find(".right").toggleClass("fa-caret-up fa-caret-down");
			});

			$(".sub-sub-menu a").click(function () {
				$(this).parent(".sub-sub-menu").children("ul").slideToggle("100");
				$(this).find(".right").toggleClass("fa-caret-up fa-caret-down");
			});
		</script>



		<!-- Signup Modal -->
		<div class="modal fade" id="signout-modal">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header text-center d-block p-5 border-bottom-0">
						<h3 class="modal-title">Sign Out?</h3>
						<button type="button" class="close position-absolute" style="right: 15px; top: 8px;"
							data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						<p class="text-center">Are you sure you want to Sign Out?</p>
						<div class="text-center py-4">
							<form action="sign-out">
								<button type="submit" class="btn btn-primary b-btn mx-3">Sign
									Out</button>
								<button class="btn btn-secondary mx-3" data-dismiss="modal">Cancel</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>




		<script>
			$(function () {
				$("#sortable-menu").sortable();
				$("#sortable-menu").disableSelection();

				$("#sortable-cards").sortable();
				$("#sortable-cards").disableSelection();
			});
		</script>


		<script>
			$(function () {
				$("#one-item-row").on("click", function () {
					$(".b-customize").addClass("col-lg-12", 300);
					$(".b-customize").removeClass("col-lg-4", 300);
					$(".b-customize").removeClass("col-lg-6", 300);

				});

				$("#two-item-row").on("click", function () {
					$(".b-customize").addClass("col-lg-6", 300);
					$(".b-customize").removeClass("col-lg-4", 300);
					$(".b-customize").removeClass("col-lg-12", 300);

				});

				$("#three-item-row").on("click", function () {
					$(".b-customize").addClass("col-lg-4", 300);
					$(".b-customize").removeClass("col-lg-6", 300);
					$(".b-customize").removeClass("col-lg-12", 300);

				});

			});

		</script>





		<!-- js code  -->


		<script>


		

		


			//================================ Attach unit Data =============================//




			//get Mapped member data by boardid

			$('#boardId').on('change', function () {
				var boardId = $(this).val();
				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");


				$.ajax({

					type: "post",

					url: "get-mapped-data-by-boardId",
					cache: false,
					dataType: 'json',

					data: {boardId: boardId},
					beforeSend: function (xhr) {

						xhr.setRequestHeader(header, token);
					},
					success: function (response) {

						if ($.fn.DataTable.isDataTable("#mappedTable")) {
							$("#mappedTable").dataTable().fnDestroy();
							console.log("Mapped DataTable destroyed .....");
						}
						$("#mappedTable").DataTable({
							"scrollX": true, // Enable horizontal scrolling
							"scrollY":true, // Enable vertical scrolling with a fixed height
							"data": response, // Assuming response.data contains your new data
							"columns": [
								{
									"data": null, "render": function (data, type, full, meta) {
										return meta.row + 1; // Add 1 to meta.row to start numbering from 1
									}
								},
								{"data": 'forceName'},
								{"data": 'irlaNumber'},
								{"data": 'name'},
								{"data":'gender'},
								{"data": 'designation'},
								{"data": 'unitName'},

							]
						});


						$("#forceName_id").value = "";



					},
					error: function () {
						alert('Error while request..');
					}
				});
			});


		



		</script>









</body>

</html>