<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>AME DashBoard Controller</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />

<div th:replace="~{medical-sub-ordinate/master-doc::master-wrapper-doc}"></div>

<style type="text/css">
.hidden{
display:none;
}
</style>

</head>


<body>



	<div class="d-flex" id="wrapper">

		<!-- Sidebar -->
	<div th:replace="~{medical-bm/left-menu-bm::sidebar-wrapper-menu-bm}"></div>

		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div id="page-content-wrapper">



			<!--nav-->
			<div
				th:replace="~{medical-bm/nav-bar-bm::sidebar-wrapper-menu-nav-bm}"></div>



			<div class="container mt-4">
			<div class="wisecountnactionbg">
			
			
			
			
<!-- ================candidate Details-=======================-->
						   <div th:replace="~{medical-sub-ordinate/inner-user-details::sidebar-wrapper-inner-user-details}"></div>
						
                         <!-- candidate details end-->
			<div id="loading-overlay">
   <div class="spinner"></div>
  
  
</div>
			
			<button class="btn btn-info float-end" type="button" id="load-previous-ame-form-data">Load previous AME data</button>
<form class="proc-box p-3 text-start" id="regForm">
  <h5>Psychological assessment as Laid Down(s)</h5>
  <!-- One "tab" for each step in the form: -->
  
  <!-- <ul class="nav nav-tabs tabTop">
  <li class="active"><a data-toggle="tab" href="#menu1">Physical Measurement</a></li>
  <li><a data-toggle="tab" href="#menu2">Phychological assessment as Laid Down(s)</a></li>
  <li><a data-toggle="tab" href="#menu3">Hearing(H)</a></li>
  <li><a data-toggle="tab" href="#menu4">Appendages(A)</a></li>
    
</ul> -->


 <hr>
  
   
     <div class="row">
  <div class="col-md-6 mb-2">
    <label>Any Past history of psychiatric illness,if so details</label>
    <input type="text" class="form-control" placeholder=""  th:field="*{phychologicalAssessmentAsLaidDown.psychiatricIllnessHistory}" id="psychiatricIllnessHistory" maxlength="100" >
    <span id="psychiatricIllnessHistory_error" class="error"></span>
  </div>
  

  
  <div class="col-md-12 mb-2">
		<label>Any History of breakdown/outburst or taking wrong decision indecisiveness leading to public reaction
			or castigation of civil authority:</label>

		
			   <select th:field="*{phychologicalAssessmentAsLaidDown.wrong_decision_public_castigation}" class="form-select" 
									id="wrong_decision_public_castigation" >
									<option th:value="${phychologicalAssessmentAsLaidDown.wrong_decision_public_castigation}?:'No'" 
									th:text="*{phychologicalAssessmentAsLaidDown.wrong_decision_public_castigation}?:'No'"></option>

									<option style="font-weight:500;" th:each="innerList : ${psychologyDropDown.c1}"
										th:text="${innerList.value}" th:value="${innerList.value}">
									</option>
								</select>
								<span id="wrongDecisionPublicCastigation_error" class="error"></span>
	</div>
  
   </div>
     <div class="row">
	  <div class="col-md-6 mb-2">
    <label>History of any alcoholic/drug abuse</label>
    
    
        <select th:field="*{phychologicalAssessmentAsLaidDown.alcholic_drug_abuse_history}" class="form-select"
									id="alcholic_drug_abuse_history" >
									<option th:value="${phychologicalAssessmentAsLaidDown.alcholic_drug_abuse_history}?:'No'" 
									th:text="*{phychologicalAssessmentAsLaidDown.alcholic_drug_abuse_history}?:'No'"></option>

									<option style="font-weight:500;" th:each="innerList : ${psychologyDropDown.c2}"
										th:text="${innerList.value}" th:value="${innerList.value}">
									</option>
								</select>
								<span id="alcholicDrugAbuseHistory_error" class="error"></span>
   </div>

							<div class="col-md-6 mb-2">
								<label>History of head
									injury/infective/metabolicen-cephalopathy:</label> <select
									class="form-select"
									th:field="*{phychologicalAssessmentAsLaidDown.injury_infective_metabolic_encephalopathy_history}"
									id="injury_infective_metabolic_encephalopathy_history">
									<option
										th:value="${phychologicalAssessmentAsLaidDown.injury_infective_metabolic_encephalopathy_history}?:'No'"
										th:text="*{phychologicalAssessmentAsLaidDown.injury_infective_metabolic_encephalopathy_history}?:'No'"></option>

									<option style="font-weight: 500;"
										th:each="innerList : ${psychologyDropDown.c3}"
										th:text="${innerList.value}" th:value="${innerList.value}">
									</option>
								</select> <span id="injuryInfectiveMetabolicEncephalopathyHistory_error"
									class="error"></span>

							</div>


							<div class="col-md-6 mb-2">
								<label>Objective Psychometric scale if any applied and
									result there of:</label> <input class="form-control shake-on-error"
									type="text"
									th:field="*{phychologicalAssessmentAsLaidDown.objective_psychometric_scale}"
									id="objective_psychometric_scale" maxlength="100"> <span
									id="objectivePsychometricScale_error" class="error"></span>
							</div>


						</div>
 

  <!-- Categorization starts-->
 
<div class="row">
	<div class="col-md-12">
		<hr>
		<h6>Categorization</h6>
		<hr>
	</div>
</div>
	

	
	

	
	<div class="row">
						<div class="col-md-3 mb-2">
							<label><b>Category</b></label>
						</div>
						<div class="col-md-3 mb-2">
							<select th:field="*{phychologicalAssessmentAsLaidDown.category}" class="form-select mb-20"
								onchange="selectedValue(this)" id="pCat">
								<option th:value="*{phychologicalAssessmentAsLaidDown.category}"
									th:text="${phychologicalAssessmentAsLaidDown.category}"></option>
								<option th:each="psychologicalTypesList : ${psychologicalTypesList}" th:text="${psychologicalTypesList.value}"
									th:value="${psychologicalTypesList.value}">
							</select>
							<span id="pCat_error" class="error"></span>
						</div>
					</div>
				<div class="row" id="category-type-duration-div">
					<div class="col-md-3 mb-2">
						<label><b>Type</b></label>
					</div>
					<div class="col-md-3 mb-2">
						<select th:field="*{phychologicalAssessmentAsLaidDown.type}" class="form-select mb-20" id="pTypeId"
							onchange="selectedDurationBasedOnType()">
							<option th:text="${phychologicalAssessmentAsLaidDown.type}?:'Select'"
								th:value="${phychologicalAssessmentAsLaidDown.type}" />
							<option th:each="psychologicalStatus : ${psychologicalStatus}" th:text="${psychologicalStatus.name}"
								th:value="${psychologicalStatus.name}">
						</select>
						<span id="pTypeId_error" class="error"></span>
					</div>
				
					<div class="clearfix"></div>
					<div class="col-md-3 mb-2">
						<label><b>Duration</b></label>
					</div>
					<div class="col-md-3 mb-2" id="duration-div-for-temporary">
							<select th:field="*{phychologicalAssessmentAsLaidDown.duration}" class="form-select mb-20 " id="pDurationId">
								<option th:value="*{phychologicalAssessmentAsLaidDown.duration}"
									th:text="${phychologicalAssessmentAsLaidDown.duration}?:'Select'" />
								<option th:each="i: ${psychologicalDurations}" th:text="${i.value}" th:value="${i.cValue}"></option>
							</select>
							<span id="pDurationId_error" class="error"></span>
					</div>
				
					<div class="col-md-3 mb-2 hidden" id="duration-div-for-permanent">
						<select th:field="*{phychologicalAssessmentAsLaidDown.duration}" class="form-select mb-20">
							<option th:value="P-2">P-2 Yrs</option>
						</select>
						<span id="pDurationId_error" class="error"></span>
					</div>
				</div>
	
	
	
	
	
	
   <!-- Categorization ends-->

  
   <input type="hidden" name="forcepersonalId" th:value="${forcepersonalId}">
   <input type="hidden" name="ameId" th:value="${ameId}" id="ameId">
   
   
    <div class="row mb-2">
			<div class="col-md-6">
				<input type="hidden" th:value="${loggedInUserForcePersonnelId}" name="loggedInUserForcePersonnelId" id="loggedInUserForcePersonnelId">
				<input type="hidden" th:value="${candidateForcePersonnelId}" name="candidateForcePersonnelId" id="candidateForcePersonnelId">
				</div>
</div>
 
<hr>
   

		<div class="d-grid gap-2 d-md-block">
<button type="button" class="btn btn-secondary" onclick="backToHome()" style="width:100px;">Back</button>

<button type="submit" class="btn btn-success" style="width:100px;float:right;margin:0 0 0 50;">Submit</button>

<!--  <button type="reset" class="btn btn-danger" style="width:100px;float:right;" id="reset-button">Reset</button> -->
</div>
 </div>
 
</form>

<form th:action="@{/declaration-requests-completed-ma}" method="post" id="back-to-home">
	  <input type="hidden" name="forcepersonalId" th:value="${forcepersonalId}">
      <input type="hidden" name="ameId" th:value="${ameId}">
	 
 </form>



		</div>

	
<div th:replace="~{medical-sub-ordinate/alert-modal::message-alert-modal}"></div>



	</div>
	<!-- /#page-content-wrapper -->

	</div>
	<!-- /#wrapper -->
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			setDefaultValues()
			selectedValue();
			selectedDurationBasedOnType();
			
		});
		</script>
	
<script>
	function backToHome(){
		
	$("#back-to-home").submit();
	}
</script>

<script>

 function selectedValue(){
	 var value=$('#pCat').val();
	 
	 if(value==='S-1'||value==='S-5'){
		 
     $('#category-type-duration-div').hide();
    
   
    }
	 else{
	 $('#category-type-duration-div').show();
	
   

	}
 
 }
 
 function selectedDurationBasedOnType(){
	 var categoryType=$('#pTypeId').val();
	 var categoryDuration=$("#pDurationId").val();
	 
	 if(categoryType==='Permanent'){
		 	 $('#duration-div-for-permanent').show();
		 	 $('#duration-div-for-permanent').removeClass('hidden')
		 	 $('#duration-div-for-temporary').hide();
		 	 
		 	
	 }
	 else if(categoryType==='Temporary'&& (categoryDuration==='P-2' || !categoryDuration)){
		 $("#pDurationId").val('T-12');
		 $('#duration-div-for-temporary').show();
		 $('#duration-div-for-temporary').removeClass('hidden');
	     $('#duration-div-for-permanent').hide();
	 }
	 
	 else{
		 $('#duration-div-for-temporary').show();
		 $('#duration-div-for-temporary').removeClass('hidden');
	     $('#duration-div-for-permanent').hide();
	 
	 }
	
	
	  
 }
</script>



	<!-- Bootstrap core JavaScript -->
		<!-- <script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="js/jquery.slicknav.min.js"></script>
		<script src="js/dashboard.js"></script> -->

	<!-- Menu Toggle Script -->
	<script>
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});
	</script>


	<script>
		$(document).ready(function() {
			var previousSelectedpSychol= document.getElementById('pSychologicalType').value;

			showHideColumns(previousSelectedpSychol);
			$('#backtotop').click(function() {
				$("html, body").animate({
					scrollTop : 0
				}, 600);
				return false;
			});
		});
  
      $(document).submit(function(){
		  
		  var pCat =document.getElementById("pCat").value;
		   
		   if(pCat=='S-1'||pCat=='S-5')
		   {
		  document.getElementById("pTypeId").value='';
	      document.getElementById("pDurationId").value='';
	      return true;
	      }
	  })

	</script>


	<script>
		$('.sub-menu ul').hide();
		$('.sub-sub-menu ul').hide();
		$(".sub-menu a").click(function() {
			$(this).parent(".sub-menu").children("ul").slideToggle("100");
			$(this).find(".right").toggleClass("fa-caret-up fa-caret-down");
		});

		$(".sub-sub-menu a").click(function() {
			$(this).parent(".sub-sub-menu").children("ul").slideToggle("100");
			$(this).find(".right").toggleClass("fa-caret-up fa-caret-down");
		});
	</script>



	<!-- Signup Modal -->
	
		<div class="modal fade" id="signout-modal" data-bs-backdrop="static"
			data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Sign Out?</h5>

							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<!-- Modal body -->
						<div class="modal-body">
							<p class="text-center">Are you sure you want to Sign Out?</p>
							<form action="sign-out">
								<div class="row">
									<div class="col-md-6">
										<button type="submit" class="btn btn-primary">Sign
											Out</button>
									</div>
									<div class="col-md-6">
										<button type="button" class="btn btn-secondary"
											data-bs-dismiss="modal">Cancel</button>
									</div>

								</div>

							</form>

						</div>
					</div>
				</div>
			</div>
			</div>



	<script src="vendor/jquery-ui/jquery-ui.js"></script>
	<!-- <script>
		$(function() {
			$("#sortable-menu").sortable();
			$("#sortable-menu").disableSelection();

			$("#sortable-cards").sortable();
			$("#sortable-cards").disableSelection();
		});
	</script>


	<script>
		$(function() {
			$("#one-item-row").on("click", function() {
				$(".b-customize").addClass("col-lg-12", 300);
				$(".b-customize").removeClass("col-lg-4", 300);
				$(".b-customize").removeClass("col-lg-6", 300);

			});

			$("#two-item-row").on("click", function() {
				$(".b-customize").addClass("col-lg-6", 300);
				$(".b-customize").removeClass("col-lg-4", 300);
				$(".b-customize").removeClass("col-lg-12", 300);

			});

			$("#three-item-row").on("click", function() {
				$(".b-customize").addClass("col-lg-4", 300);
				$(".b-customize").removeClass("col-lg-6", 300);
				$(".b-customize").removeClass("col-lg-12", 300);

			});

		});
	</script>
<script>
var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the current tab

function showTab(n) {
  // This function will display the specified tab of the form...
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";
  //... and fix the Previous/Next buttons:
	
  if (n == 0) {
    document.getElementById("prevBtn").style.display = "none";
  } else {
    document.getElementById("prevBtn").style.display = "inline";
  }
  if (n == (x.length - 1)) {
    document.getElementById("nextBtn").innerHTML = "Submit";
  } else {
    document.getElementById("nextBtn").innerHTML = "Next";
  }
  //... and run a function that will display the correct step indicator:
  fixStepIndicator(n);
  fixTabIndicator(n)
}

function nextPrev(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");
  // Exit the function if any field in the current tab is invalid:
  if (n == 1 && !validateForm()) return false;
  // Hide the current tab:
  x[currentTab].style.display = "none";
  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;
  // if you have reached the end of the form...
  if (currentTab >= x.length) {
    // ... the form gets submitted:
    document.getElementById("regForm").submit();
    return false;
  }
  // Otherwise, display the correct tab:
  showTab(currentTab);
}

function validateForm() {
  // This function deals with validation of the form fields
  var x, y, i, valid = true;
  x = document.getElementsByClassName("tab");
  y = x[currentTab].getElementsByTagName("input");
  // A loop that checks every input field in the current tab:
  for (i = 0; i < y.length; i++) {
    // If a field is empty...
    if (y[i].value == "") {
      // add an "invalid" class to the field:
      y[i].className += " invalid";
      // and set the current valid status to false
      valid = false;
    }
  }
  // If the valid status is true, mark the step as finished and valid:
  if (valid) {
    document.getElementsByClassName("step")[currentTab].className += " finish";
  }
  return valid; // return the valid status
}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class on the current step:
  x[n].className += " active";
}
function fixTabIndicator(n) {
	  // This function removes the "active" class of all steps...
	  var i, x = document.getElementsByClassName("tabstatus");
	  for (i = 0; i < x.length; i++) {
	    x[i].className = x[i].className.replace(" active", "");
	  }
	  //... and adds the "active" class on the current step:
	  x[n].className += " active";
	}
</script>
 -->
<!-- ==========================================================RK============================================================ -->
<script>
$(document).ready(function() {
	$('#regForm').submit(function(event) {
		event.preventDefault();
		$('#loading-overlay').show();
		$('body').addClass('loading');
        
		var ameId = $("#ameId").val();
        var psychiatricIllnessHistory=$("#psychiatricIllnessHistory").val();
	    var wrong_decision_public_castigation=$("#wrong_decision_public_castigation").val();
	    var alcholic_drug_abuse_history=$("#alcholic_drug_abuse_history").val();
	    var injury_infective_metabolic_encephalopathy_history=$("#injury_infective_metabolic_encephalopathy_history").val();
	    var objective_psychometric_scale=$("#objective_psychometric_scale").val();
	    var pCat=$("#pCat").val();
	    var pTypeId=$("#pTypeId").val();
	    if(pTypeId==='Permanent'){
	    var	pDurationId="P-2";
	    }
	    else{
	    	 var pDurationId=$("#pDurationId").val();
	    }
	   
	    var loggedInUserForcePersonnelId=$("#loggedInUserForcePersonnelId").val();
		   
	    
		var data={
				ameId:ameId,
				psychiatricIllnessHistory:psychiatricIllnessHistory,
				wrong_decision_public_castigation:wrong_decision_public_castigation,
				alcholic_drug_abuse_history:alcholic_drug_abuse_history,
				injury_infective_metabolic_encephalopathy_history:injury_infective_metabolic_encephalopathy_history,
				objective_psychometric_scale:objective_psychometric_scale,
				category:pCat,
				type:pTypeId,
				duration:pDurationId
        }
		
		dataToSend={
				data:data,
				loggedInUserForcePersonnelId:loggedInUserForcePersonnelId,
		}

		/* ===================header==================== */
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		$('.error').text('');




		$.ajax({
			type: 'POST',
			url: 'validate-and-save-psychology',
			data:JSON.stringify(dataToSend),
			contentType: 'application/json',
			beforeSend: function(xhr) {
				xhr.setRequestHeader(header, token);
			},
			success: function(response) {
				if (response.isValid) {
					
					
					    $('#alert-modal .modal-title').text('Success');
			            $('#alert-modal .modal-body h3').text(response.message);
			            
			            $('#alert-modal .modal-body i').removeClass('fas fa-exclamation-circle fa-lg animate__animated animate__shakeX')
			                                             .addClass('fas fa-check-circle faa-tada animated')
			                                             .removeAttr('style');
			            
			            $("#cross-close-button").attr('onclick', 'backToHome()');
			            $("#okay-close-button").attr('onclick', 'backToHome()');
			            $('#alert-modal').modal({
			                backdrop: 'static',
			                keyboard: false
			              });
			            $('#alert-modal').modal('show');
				//	 alert(response.message);
				//	 $('#back-to-home').unbind('submit').submit();
					 }

				else {  
					
					$.each(response.errors, function(field, errorMessage) {
						 $('#' + field + '_error').text(errorMessage);
						 /* shakeInputField(); */
						});
					}
				
},
complete: function() {
    $('#loading-overlay').hide();
    $('body').removeClass('loading');
},




			error: function(xhr, status, error) {
			  	$('#alert-modal .modal-title').text('ERROR');
	            $('#alert-modal .modal-body h3').text(xhr.responseText);
	            
	           $('#alert-modal .modal-body i')  .addClass('fas fa-exclamation-circle fa-lg animate__animated animate__shakeX')
               .css('color', 'red');
	           $('#alert-modal').modal({
	                backdrop: 'static',
	                keyboard: false
	              });
	            $('#alert-modal').modal('show');
				//alert("Please fill the form again somthing went WRONG!");
				//console.error(error);
			}
			
		});
	});
});




</script>

<script>




//-------------Default values----------//
			function setDefaultValues() {

				var psychiatricIllnessHistory = $("#psychiatricIllnessHistory").val();
				var wrong_decision_public_castigation=$("#wrong_decision_public_castigation").val();
				var alcholic_drug_abuse_history=$("#alcholic_drug_abuse_history").val();
				var injury_infective_metabolic_encephalopathy_history=$("#injury_infective_metabolic_encephalopathy_history").val();
				var objective_psychometric_scale=$("#objective_psychometric_scale").val();
				var pCat = $("#pCat").val();
				
				if (!psychiatricIllnessHistory) {
					$("#psychiatricIllnessHistory").val('NIL');

				}
				
				if (!wrong_decision_public_castigation) {
					$("#wrong_decision_public_castigation").val('No');

				}

				if (!alcholic_drug_abuse_history) {
					$("#alcholic_drug_abuse_history").val('No');

				}
				
				if (!injury_infective_metabolic_encephalopathy_history) {
					$("#injury_infective_metabolic_encephalopathy_history").val('No');

				}
				
				if (!objective_psychometric_scale) {
					$("#objective_psychometric_scale").val('NIL');

				}

				if (!pCat) {
					$("#pCat").val('S-1');
					selectedValue();

				}

			}
		
		
		
		</script>
		
		<script>
		//---------------------load previous data---------------------//

$(document).ready(function(){
	  $("#load-previous-ame-form-data").click(function(){
		  event.preventDefault();
		$('#loading-overlay').show();
		$('body').addClass('loading');
		
    const token = $("meta[name='_csrf']").attr("content");
	const header = $("meta[name='_csrf_header']").attr("content");
	const formId='S';
	const candidateForcePersonnelId=$("#candidateForcePersonnelId").val();
	
	dataToSend={
			formId:formId,
			candidateForcePersonnelId:candidateForcePersonnelId
	},
		 $.ajax({
			 type:"POST",
			 url:'get-force-personnel-previous-ame-forms-details',
			 data:JSON.stringify(dataToSend),
			 contentType:"application/JSON",
			 beforeSend: function(xhr) {
					xhr.setRequestHeader(header, token);
				},
		     success:function(response){
		    	 if(response.isValid){
		    		 
		    	         $("#psychiatricIllnessHistory").val(response.previousPsychologicalAssessmentAsLaidDownByAmeIdData.psychiatricIllnessHistory);
		    		     $("#wrong_decision_public_castigation").val(response.previousPsychologicalAssessmentAsLaidDownByAmeIdData.wrong_decision_public_castigation);
		    		     $("#alcholic_drug_abuse_history").val(response.previousPsychologicalAssessmentAsLaidDownByAmeIdData.alcholic_drug_abuse_history);
		    		     $("#injury_infective_metabolic_encephalopathy_history").val(response.previousPsychologicalAssessmentAsLaidDownByAmeIdData.injury_infective_metabolic_encephalopathy_history);
		    		     $("#objective_psychometric_scale").val(response.previousPsychologicalAssessmentAsLaidDownByAmeIdData.objective_psychometric_scale);
		    		     $("#pCat").val(response.previousPsychologicalAssessmentAsLaidDownByAmeIdData.category);
		    		     $("#pTypeId").val(response.previousPsychologicalAssessmentAsLaidDownByAmeIdData.type);
		    		     $("#pDurationId").val(response.previousPsychologicalAssessmentAsLaidDownByAmeIdData.duration);
		    		 
		    			selectedValue();
		    			selectedDurationBasedOnType();
		    			
		    			   $('#alert-modal .modal-title').text('Success');
				           $('#alert-modal .modal-body h3').text(response.message);
				            
				           $('#alert-modal .modal-body i').removeClass('fas fa-exclamation-circle fa-lg animate__animated animate__shakeX')
				                                             .addClass('fas fa-check-circle faa-tada animated')
				                                             .removeAttr('style');
				            
				           /*  $("#cross-close-button").attr('onclick', 'backToHome()');
				            $("#okay-close-button").attr('onclick', 'backToHome()'); */
				            $('#alert-modal').modal({
				                backdrop: 'static',
				                keyboard: false
				              });
			  	            $('#alert-modal').modal('show');
		    			
		    		
		    	 }
		    	 else{
		    		 $('#alert-modal .modal-title').text('ERROR');
			         $('#alert-modal .modal-body h3').text(response.errors.noRecordAvailable);
			         $('#alert-modal .modal-body i').addClass('fas fa-exclamation-circle fa-lg animate__animated animate__shakeX')
		                                               .css('color', 'red');
			         $('#alert-modal').modal({
			                backdrop: 'static',
			                keyboard: false
			              });
			         $('#alert-modal').modal('show');
		    	 }
		    	 
		    	
		    	 
		     },
		 complete:function(){
			   $('#loading-overlay').hide();
			   $('body').removeClass('loading');
		 },
			error: function(xhr, status, error) {
				if(xhr.responseText){

					$('#alert-modal .modal-title').text('ERROR');
		            $('#alert-modal .modal-body h3').text(xhr.responseText);
		            
		           $('#alert-modal .modal-body i')  .addClass('fas fa-exclamation-circle fa-lg animate__animated animate__shakeX')
	               .css('color', 'red');
		           $('#alert-modal').modal({
		                backdrop: 'static',
		                keyboard: false
		              });
		            $('#alert-modal').modal('show');
				}
					
					else{
						$('#alert-modal .modal-title').text('ERROR');
			            $('#alert-modal .modal-body h3').text('Server not responding please sign-in again');
			            
			            $('#alert-modal .modal-body i').addClass('fas fa-exclamation-circle fa-lg animate__animated animate__shakeX')
		                                               .css('color', 'red');
			            $('#alert-modal').modal({
			                backdrop: 'static',
			                keyboard: false
			              });
			            $('#alert-modal').modal('show');
						
					}
			}
		 })
		  
	  })
	  
})


	$("#reset-button").click(function(){
		$("#regForm").reset();
		
	})

	 
	 
	</script>
		
</body>
</html>
