<div th:fragment="sidebar-wrapper-change-password-profile">


	<div class="modal fade" id="change-password-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Change Password</h5>

						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<!-- Modal body -->
					<div class="modal-body">

						<form id="regForm-reset-password">

							<h2 class="mb-3">Change Password</h2>
							<p class="error">First Time Login:Please Change the Password!</p>
							<hr>
							<span id="loginForcePersonalId_error" class="error"></span>

							<div class="mb-3">
								<label for="old-password-label" class="form-label">Old
									Password</label> <input type="password" class="form-control" id="old-password"
									aria-describedby="" placeholder="Enter your old password" maxlength="15"
									oninput="validatePassword()"> <span id="old-password_error" class="error"></span>

							</div>
							<div class="mb-3">
								<label for="new-password-label" class="form-label">New
									Password</label> <input type="password" class="form-control" id="new-password"
									placeholder="New password" maxlength="15" oninput="validatePassword()">
								<span id="new-password_error" class="error"></span>
							</div>



							<div class="mb-3">
								<label for="confirm-password-label" class="form-label">Confirm
									Password</label> <input type="password" class="form-control" id="confirm-password"
									placeholder="Confirm password" maxlength="15" oninput="validatePassword()"> <span
									id="confirm-password_error" class="error"></span>
							</div>

							<input type="hidden" name="loginForcePersonalId" id="loginForcePersonalId" />
							<ul id="validationHints">
								<li id="lengthHint" class="invalid">At least 8 characters</li>
								<li id="upperCaseHint" class="invalid">At least one uppercase letter</li>
								<li id="lowerCaseHint" class="invalid">At least one lowercase letter</li>
								<li id="numberHint" class="invalid">At least one number</li>
								<li id="specialCharHint" class="invalid">At least one special character</li>
								<li id="matchHint" class="invalid">Passwords must match</li>
							</ul>
							<div class="w-100 mt-3">

								<button type="submit" class="btn btn-primary w-100 mt-3">Change
									Password</button>
							</div>
						</form>

						<input type="hidden" id="hexKey">
						<input type="hidden" id="ivHex">

					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div id="profileModal" class="modal fade" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered ">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="profileModalLabel">Profile Details</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-8">
							<div class="profile-text"><b>IRLA	 / REGT No :</b> <span id="forceId"></span></div>
							<div class="profile-text"><b>Designation / Rank :</b> <span id="profileDesignation"></span></div>
							<div class="profile-text"><b>Unit :</b> <span id="unit"></span></div>
							<div class="profile-text"><b>Attach Unit :</b> <span id="attachUnit"></span></div>
							<div class="profile-text"><b>Gender :</b> <span id="profileGender"></span></div>
							<div class="profile-text"><b>Mobile :</b> <span id="profileMobile"></span></div>
							<div class="profile-text"><b>Email :</b> <span id="profileEmail"></span></div>
							<div class="profile-text"><b>Marital Status :</b> <span id="profileMaritalStatus"></span></div>
							<div class="profile-text"><b>DOB :</b> <span id="dob"></span></div>
							<div class="profile-text"><b>Joining Date :</b> <span id="joiningDate"></span></div>
							
						</div>
						<div class="col-md-4">
							<div class="user-photo">
								<img src="/images/userImage.jpg">
							</div>
							<div class="clearfix"></div>
									<div class="profile-text fw-bold text-center"><span id="profileName"></span></div>
					
						
						</div>
					</div>








				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	
</div>












