
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<head>
<meta charset="ISO-8859-1">


<title>AME DashBoard Controller</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div th:replace="~{medical-sub-ordinate/master-doc::master-wrapper-doc}"></div>
<script src="js/local/view-declaration-pdf/view-declaration-file.js"></script>




 <style>
        .content-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 20px;
        }

        .iframe-container {
            flex: 2.5;
        }

        .form-container {
            flex: 1;
        }

        iframe {
            width: 100%;
            height: 700px;
            border: 1px solid #ccc;
        }

        .button-container {
            display: flex;
            gap: 10px;
        }

        .radio-container {
            display: flex;
            gap: 20px;
        }
        #reportDetails{
        text-align:  left;}
    </style>
</head>


<body>



	<div class="d-flex" id="wrapper">

		<!-- Sidebar -->
				<div th:replace="~{dealinghand/left-menu-dh::sidebar-wrapper-menu-dh}"></div>

		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div id="page-content-wrapper">

						<div th:replace="~{medical-sub-ordinate/nav-bar::sidebar-wrapper-menu-nav-ama}"></div>




				<!-- Content Row -->

				
<div class="container mt-5">
    <!-- Content Container for Side-by-Side Layout with 3:1 Ratio -->
    <div class="row">
        <!-- Iframe Section (3 parts out of 4) -->
        <div class="col-lg-9 col-md-12 mb-4">
            <div class="iframe-container">
                <embed th:src="@{/file(filePath=${filePath})}" type="application/pdf" width="100%" height="700px">
            </div>
            <div class="button-container mt-3">
                <form th:action="@{application-under-process-ma}" method="get">
                    <button type="submit" class="btn btn-secondary">Back</button>
                </form>
            </div>
        </div>

        <!-- Remark Section (1 part out of 4) -->
        <div class="col-lg-3 col-md-12">
            <div class="proc-box px-3">
                <h5>Please give a remark</h5>
                <hr>
                <form th:action="@{/ame-declaration-checked-approved-dh}" method="post" id="target">
                    <div class="mb-3">
                        <label for="remark" class="form-label">Give Remark</label>
                        <textarea id="remark" name="remark" rows="4" class="form-control" required></textarea>
                    </div>
                    <hr>
                    <input type="hidden" th:value="${forcepersonalId}" name="forcepersonalId" id="forcepersonalId">
                    <input type="hidden" th:value="${AmeId}" name="ameId" id="ameId">
                    <input type="submit" class="btn btn-success w-100 mb-3" value="Submit" id="formsubmit">
                </form>
                <form th:action="@{medical-subordinate-dashboard}" method="get">
                    <input type="submit" value="Back" class="btn btn-secondary w-100">
                </form>
            </div>
        </div>
    </div>
</div>


				
		<div th:replace="~{UserMenu/display-declaration-file::sidebar-wrapper-ame-declaration-pdf}"></div>

		<!-- Bootstrap Modal -->

	</div>
	</div>


	<script>
    function openPdfModal(e) {
    	var ameId=e.id;
        // Set the source of the iframe dynamically
        const pdfViewer = document.getElementById('pdfIframe');
        pdfViewer.src = `/declaration-view?fileName=${ameId}`;

        // Show the modal
        const modal = new bootstrap.Modal(document.getElementById('pdfModal'));
        modal.show();
    }
</script>


	<!-- Menu Toggle Script -->
	<script>
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});
	</script>


	<script>
		$(document).ready(function() {
			$('#backtotop').click(function() {
				$("html, body").animate({
					scrollTop : 0
				}, 600);
				return false;
			});
		});
	</script>


	<script>
		$('.sub-menu ul').hide();
		$('.sub-sub-menu ul').hide();
		$(".sub-menu a").click(function() {
			$(this).parent(".sub-menu").children("ul").slideToggle("100");
			$(this).find(".right").toggleClass("fa-caret-up fa-caret-down");
		});

		$(".sub-sub-menu a").click(function() {
			$(this).parent(".sub-sub-menu").children("ul").slideToggle("100");
			$(this).find(".right").toggleClass("fa-caret-up fa-caret-down");
		});
	</script>



	<!-- Signup Modal -->
	



	<script src="vendor/jquery-ui/jquery-ui.js"></script>
	<script>
		$(function() {
			$("#sortable-menu").sortable();
			$("#sortable-menu").disableSelection();

			$("#sortable-cards").sortable();
			$("#sortable-cards").disableSelection();
		});
	</script>


	<script>
		$(function() {
			$("#one-item-row").on("click", function() {
				$(".b-customize").addClass("col-lg-12", 300);
				$(".b-customize").removeClass("col-lg-4", 300);
				$(".b-customize").removeClass("col-lg-6", 300);

			});

			$("#two-item-row").on("click", function() {
				$(".b-customize").addClass("col-lg-6", 300);
				$(".b-customize").removeClass("col-lg-4", 300);
				$(".b-customize").removeClass("col-lg-12", 300);

			});

			$("#three-item-row").on("click", function() {
				$(".b-customize").addClass("col-lg-4", 300);
				$(".b-customize").removeClass("col-lg-6", 300);
				$(".b-customize").removeClass("col-lg-12", 300);

			});

		});
	</script>
	<script>
	     function submitForm() {
            const form = document.getElementById('pdfForm');
            const formData = new FormData(form);
            const params = new URLSearchParams();

            // Build the query string from form data
            for (const pair of formData.entries()) {
                params.append(pair[0], pair[1]);
            }

            // Construct the URL
            const url = `${form.action}?${params.toString()}`;
            console.log("PDF URL:", url);

            // Set the iframe source to the PDF URL
            const iframe = document.getElementById('pdfViewer');
            iframe.src = url;
            iframe.style.display = 'block'; // Show the iframe

            return false; // Prevent the default form submission
        }
    </script>

</body>
</html>