<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>AMA DashBoard </title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css" />
<!-- Custom styles for this template -->
<link rel="stylesheet" href="css/base.css" />
<link rel="stylesheet" href="css/base-responsive.css" />
<link rel="stylesheet" href="css/animate.min.css" />
<link rel="stylesheet" href="css/slicknav.min.css" />
<link rel="stylesheet" href="css/font-awesome.min.css" />
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
		<link rel="stylesheet" href="css/master.css" />

<script src="vendor/charts/Chart.js"></script>
<script src="vendor/charts/moment.min.js"></script>
<script src="vendor/charts/Chart.min.js"></script>
<script src="vendor/charts/utils.js"></script>

                  

</head>


<body>

	<div class="d-flex" id="wrapper">

		<!-- Sidebar -->
		
		<div th:replace="~{user-management-template/super-user/mg-left-menu::sidebar-wrapper-menu-mg}"></div>
		
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div id="page-content-wrapper">

			   <div th:replace="~{user-management-template/super-user/nav-bar-mg::sidebar-wrapper-menu-nav-mg}"></div>

			<div class="container-fluid">

				<!-- Content Row -->



				<div class="my-5" id="b-homedb">

					<div class="container">
						
						<h4 class="text-center mb-3 b-latest-data">USER ROLE LIST</h4>
				



						<div class="">
							<table id="user">

<thead>
<tr>
<th>Serial No</th>
<th>IRLA No</th>

<th>Name</th>

<th>RoleName</th>
<th>Status</th>


</tr>
</thead>
<tr th:each="roleListDetails,statcount :${roleListDetails}">
<td th:text="${statcount.count}"></td>
<td th:text="${roleListDetails.irlaNo}"> </td>

<td th:text="${roleListDetails.name}"></td>

<td th:text="${roleListDetails.roleName}"></td>
<td th:text="${roleListDetails.status}"></td>

</tr>

</table>
               
					</div>

				</div>

			</div>
	 
			<div class="my-5" id="b-homedb"></div>

		</div>

	</div>




	</div>
	<!-- /#page-content-wrapper -->

	</div>
	<!-- /#wrapper -->



	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="js/jquery.slicknav.min.js"></script>
	<script src="js/dashboard.js"></script>

	<!-- Menu Toggle Script -->
	<script>
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});
	</script>


	<script>
		$(document).ready(function() {
			$('#backtotop').click(function() {
				$("html, body").animate({
					scrollTop : 0
				}, 600);
				return false;
			});
		});
	</script>


	<script>
		$('.sub-menu ul').hide();
		$('.sub-sub-menu ul').hide();
		$(".sub-menu a").click(function() {
			$(this).parent(".sub-menu").children("ul").slideToggle("100");
			$(this).find(".right").toggleClass("fa-caret-up fa-caret-down");
		});

		$(".sub-sub-menu a").click(function() {
			$(this).parent(".sub-sub-menu").children("ul").slideToggle("100");
			$(this).find(".right").toggleClass("fa-caret-up fa-caret-down");
		});
	</script>



	<!-- Signup Modal -->
	<div class="modal fade" id="signout-modal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header text-center d-block p-5 border-bottom-0">
					<h3 class="modal-title">Sign Out?</h3>
					<button type="button" class="close position-absolute"
						style="right: 15px; top: 8px;" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<p class="text-center">Are you sure you want to Sign Out?</p>
					<div class="text-center py-4">
						<form action="sign-out">
							<button type="submit" class="btn btn-primary b-btn mx-3">Sign
								Out</button>
							<button class="btn btn-secondary mx-3" data-dismiss="modal">Cancel</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>



	<script src="vendor/jquery-ui/jquery-ui.js"></script>
	<script>
		$(function() {
			$("#sortable-menu").sortable();
			$("#sortable-menu").disableSelection();

			$("#sortable-cards").sortable();
			$("#sortable-cards").disableSelection();
		});
	</script>


	<script>
		$(function() {
			$("#one-item-row").on("click", function() {
				$(".b-customize").addClass("col-lg-12", 300);
				$(".b-customize").removeClass("col-lg-4", 300);
				$(".b-customize").removeClass("col-lg-6", 300);

			});

			$("#two-item-row").on("click", function() {
				$(".b-customize").addClass("col-lg-6", 300);
				$(".b-customize").removeClass("col-lg-4", 300);
				$(".b-customize").removeClass("col-lg-12", 300);

			});

			$("#three-item-row").on("click", function() {
				$(".b-customize").addClass("col-lg-4", 300);
				$(".b-customize").removeClass("col-lg-6", 300);
				$(".b-customize").removeClass("col-lg-12", 300);

			});

		});
	</script>

<script>
	function completedRequest(){
		alert("NO AME REQUEST COMPLETED YET.................!")
		return false;
	}
	
</script>

</body>
</html>