<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">


<div class="dashboard-bgcolor border-right" id="sidebar-wrapper" th:fragment="sidebar-wrapper-menu-cho">

	<div class="sidebar-heading">

		<img src="images/collage_CAPF.jpg" title="collage_CAPF" alt="collage_CAPFo" width="40px"
			class="rounded-circle me-2"> <span>
			Annual Medical Examinations(AME)</span>



	</div>


	<div class="list-group list-group-flush b-leftmenu">

		<ul id="sortable-menu">

			<li><a href='dashboard-user'>Home DashBoard</a></li>
			<li><a href='#'>Controlling Management
					DashBoard</a></li>



			<li class='sub-menu'><a href='javascript:void(0)'>NGO's
					<i class='fa fa-caret-down'></i>
				</a>
				<ul>
					<li><a class="b-newpage" href="ame-appointment-status-check">AME STATUS
						</a></li>
					<li><a class="b-newpage" href="ame-result-status-check">AME RESULT
						</a></li>
					

				</ul>
			</li>
			
			<li class='sub-menu'><a href='javascript:void(0)'>GO's
					<i class='fa fa-caret-down'></i>
				</a>
				<ul>
					<li><a class="b-newpage" href="#">AME STATUS
						</a></li>
					<li><a class="b-newpage" href="#">AME RESULT
						</a></li>
					

				</ul>
			</li>
			
		</ul>	


	

</div>
</div>




</html>